<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <h1>Su Nguyen</h1>
    <div>
      <img class="hoidanit" src="/images/image-hoidanIt.jpg" />
    </div>
  </body>
</html>
